@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
